@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/*----------
 utilities
 ----------- */
 body{
    font-family: 'Poppins', sans-serif;
 }
 .container{
     width: 80%;
     margin: 0 auto;
 }

/* ---------------
 influencer styles
 ----------------- */
 .influencer{
     display: flex;
     column-gap: 50px;;
 }
 .influencer-left {
     width:582px;
 }
 
 .influencer-left h1{
    font-size: 52px;
    font-weight: 700;
 }
 .influencer-left p{
    font-size:16px;
    font-weight: 600;
 }
 .button-preebook{
    display: inline-block;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: #E02C6D;
    padding:10px 24px; 
    border-radius: 41px;
 }
 .influencer-right img{
     width:440px;
 }

 /* --------------
 collection styles
 ----------------- */
 .poular-collection{
     margin-top:100px
 }
 .section-title{
     text-align: center;
     font-size: 28px;
     font-weight:600;
     margin-bottom: 30px;
 }
 .collections{
     display: grid;
     grid-template-columns: repeat(3,330px);
     grid-column-gap:30px;
     /* border:1px red solid; */
}
.collection{
    background-color: #ffffff;
    box-shadow: 5px 5px 40px #00000026;
    padding:17px 15px;
    border-radius: 7px;
    margin-bottom: 30px;
}
.collection h1{
    font-size: 28px;
    font-weight: 500;
    margin-top:16px;
    margin-bottom: 0;
}
.collection .price{
    color:#000000DE;
    font-size: 24px;
    font-weight: 400;
    margin:6px 0;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}

.collection p{
    color:#787885;
    font-size: 14px;
    font-weight: 700;
}
.see-more {
    text-align: right;
}
.see-more a{
    color:#E02C6D;
    font-size: 16px;
    text-decoration: none;
    margin-right: 17px;
}